<a href="https://colab.research.google.com/github/mohsin-code/Deep-Learning/blob/main/Ionosphere%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Ionosphere Data Problem

### Dataset Description: 

This radar data was collected by a system in Goose Bay, Labrador. This system consists of a phased array of 16 high-frequency antennas with a total transmitted power on the order of 6.4 kilowatts. See the paper for more details. The targets were free electrons in the ionosphere. "Good" radar returns are those showing evidence of some type of structure in the ionosphere. "Bad" returns are those that do not; their signals pass through the ionosphere.

Received signals were processed using an autocorrelation function whose arguments are the time of a pulse and the pulse number. There were 17 pulse numbers for the Goose Bay system. Instances in this databse are described by 2 attributes per pulse number, corresponding to the complex values returned by the function resulting from the complex electromagnetic signal.

### Attribute Information:

- All 34 are continuous
- The 35th attribute is either "good" or "bad" according to the definition summarized above. This is a binary classification task.

 <br><br>

<table border="1"  cellpadding="6">
	<tbody>
        <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Data Set Characteristics:&nbsp;&nbsp;</b></p></td>
		<td><p class="normal">Multivariate</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Instances:</b></p></td>
		<td><p class="normal">351</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Area:</b></p></td>
		<td><p class="normal">Physical</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">
    <tbody>
        <tr>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Attribute Characteristics:</b></p></td>
            <td><p class="normal">Integer,Real</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Number of Attributes:</b></p></td>
            <td><p class="normal">34</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Date Donated</b></p></td>
            <td><p class="normal">N/A</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">	
    <tbody>
    <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Associated Tasks:</b></p></td>
		<td><p class="normal">Classification</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Missing Values?</b></p></td>
		<td><p class="normal">N/A</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Web Hits:</b></p></td>
		<td><p class="normal">N/A</p></td>
	</tr>
    </tbody>
    </table>

### WORKFLOW :
- Load Data
- Check Missing Values ( If Exist ; Fill each record with mean of its feature ) or any usless column.
- Shuffle the data if needed.
- Standardized the Input Variables. **Hint**: Centeralized the data
- Split into 60 and 40 ratio.
- Encode labels.
- Model : 1 hidden layers including 16 unit.
- Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)
- Train the Model with Epochs (100).
- If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .
- Prediction should be > **92%**
- Evaluation Step
- Prediction

# Load Data:
[Click Here to Download DataSet](https://github.com/ramsha275/ML_Datasets/blob/main/ionosphere_data.csv)

In [23]:
import pandas as pd
import numpy as np

file_name = 'https://raw.githubusercontent.com/ramsha275/ML_Datasets/main/ionosphere_data.csv'
data = pd.read_csv(file_name)
data = pd.DataFrame(data)
data

     feature1  feature2  feature3  ...  feature33  feature34  label
0           1         0   0.99539  ...    0.18641   -0.45300      g
1           1         0   1.00000  ...   -0.13738   -0.02447      b
2           1         0   1.00000  ...    0.56045   -0.38238      g
3           1         0   1.00000  ...   -0.32382    1.00000      b
4           1         0   1.00000  ...   -0.04608   -0.65697      g
..        ...       ...       ...  ...        ...        ...    ...
346         1         0   0.83508  ...    0.90546   -0.04307      g
347         1         0   0.95113  ...    0.91483    0.04712      g
348         1         0   0.94701  ...    0.92697   -0.00577      g
349         1         0   0.90608  ...    0.87403   -0.16243      g
350         1         0   0.84710  ...    0.85764   -0.06151      g

[351 rows x 35 columns]

In [24]:
data.describe()

         feature1  feature2    feature3  ...   feature32   feature33   feature34
count  351.000000     351.0  351.000000  ...  351.000000  351.000000  351.000000
mean     0.891738       0.0    0.641342  ...   -0.003794    0.349364    0.014480
std      0.311155       0.0    0.497708  ...    0.513574    0.522663    0.468337
min      0.000000       0.0   -1.000000  ...   -1.000000   -1.000000   -1.000000
25%      1.000000       0.0    0.472135  ...   -0.242595    0.000000   -0.165350
50%      1.000000       0.0    0.871110  ...    0.000000    0.409560    0.000000
75%      1.000000       0.0    1.000000  ...    0.200120    0.813765    0.171660
max      1.000000       0.0    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 34 columns]

# Check Missing Values

In [25]:
data.isnull().sum()

feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
feature11    0
feature12    0
feature13    0
feature14    0
feature15    0
feature16    0
feature17    0
feature18    0
feature19    0
feature20    0
feature21    0
feature22    0
feature23    0
feature24    0
feature25    0
feature26    0
feature27    0
feature28    0
feature29    0
feature30    0
feature31    0
feature32    0
feature33    0
feature34    0
label        0
dtype: int64

# Encode labels

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   351 non-null    int64
 1   feature2   351 non-null    int64
 2   feature3   351 non-null    float64
 3   feature4   351 non-null    float64
 4   feature5   351 non-null    float64
 5   feature6   351 non-null    float64
 6   feature7   351 non-null    float64
 7   feature8   351 non-null    float64
 8   feature9   351 non-null    float64
 9   feature10  351 non-null    float64
 10  feature11  351 non-null    float64
 11  feature12  351 non-null    float64
 12  feature13  351 non-null    float64
 13  feature14  351 non-null    float64
 14  feature15  351 non-null    float64
 15  feature16  351 non-null    float64
 16  feature17  351 non-null    float64
 17  feature18  351 non-null    float64
 18  feature19  351 non-null    float64
 19  feature20  351 non-null    float64
 20  feature21  351 non-null    float64
 21  feature22  351 non-null    float64
 22  feature23  351 non-null    float64
 23  feature24  351 non-null    float64
 24  feature25  351 non-null    float64
 25  feature26  351 non-null    float64
 26  feature27  351 non-null    float64
 27  feature28  351 non-null    float64
 28  feature29  351 non-null    float64
 29  feature30  351 non-null    float64
 30  feature31  351 non-null    float64
 31  feature32  351 non-null    float64
 32  feature33  351 non-null    float64
 33  feature34  351 non-null    float64
 34  label      351 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 96.1+ KB

In [27]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()

data['label'] = labelencoder.fit_transform(data['label'])

In [ ]:
data

# Split into 60 and 40 ratio

In [28]:
# separation of data into X nd y as

X = data.loc[:, data.columns != 'label']
y = data.label

In [29]:
# spliting data into 60 : 40 ratio with train_test_split

from sklearn.model_selection import train_test_split

train_ratio = 0.6
test_ratio = 0.4

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=test_ratio, random_state=0)
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((210, 34), (210,), (141, 34), (141,))

# Model

In [30]:
import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.optimizers import *


model = Sequential()
tf.keras.backend.set_floatx('float64')
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=100)

Epoch 1/100
7/7 [==============================] - 1s 4ms/step - loss: 0.7451 - accuracy: 0.5688
Epoch 2/100
7/7 [==============================] - 0s 2ms/step - loss: 0.6758 - accuracy: 0.6894
Epoch 3/100
7/7 [==============================] - 0s 2ms/step - loss: 0.6425 - accuracy: 0.7539
Epoch 4/100
7/7 [==============================] - 0s 2ms/step - loss: 0.6097 - accuracy: 0.7423
Epoch 5/100
7/7 [==============================] - 0s 2ms/step - loss: 0.5987 - accuracy: 0.7186
Epoch 6/100
7/7 [==============================] - 0s 2ms/step - loss: 0.5756 - accuracy: 0.7010
Epoch 7/100
7/7 [==============================] - 0s 2ms/step - loss: 0.5623 - accuracy: 0.7362
Epoch 8/100
7/7 [==============================] - 0s 3ms/step - loss: 0.5562 - accuracy: 0.7211
Epoch 9/100
7/7 [==============================] - 0s 2ms/step - loss: 0.5163 - accuracy: 0.7587
Epoch 10/100
7/7 [==============================] - 0s 2ms/step - loss: 0.5043 - accuracy: 0.7994
Epoch 11/100
7/7 [==============================] - 0s 2ms/step - loss: 0.5171 - accuracy: 0.7552
Epoch 12/100
7/7 [==============================] - 0s 2ms/step - loss: 0.5015 - accuracy: 0.7463
Epoch 13/100
7/7 [==============================] - 0s 3ms/step - loss: 0.5003 - accuracy: 0.7559
Epoch 14/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4807 - accuracy: 0.7947
Epoch 15/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4671 - accuracy: 0.8136
Epoch 16/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4839 - accuracy: 0.7808
Epoch 17/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4595 - accuracy: 0.8128
Epoch 18/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4818 - accuracy: 0.8042
Epoch 19/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4560 - accuracy: 0.8169
Epoch 20/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4008 - accuracy: 0.8555
Epoch 21/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8501
Epoch 22/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4268 - accuracy: 0.8134
Epoch 23/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4192 - accuracy: 0.8573
Epoch 24/100
7/7 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8524
Epoch 25/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8460
Epoch 26/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3943 - accuracy: 0.8590
Epoch 27/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3591 - accuracy: 0.9025
Epoch 28/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8941
Epoch 29/100
7/7 [==============================] - 0s 3ms/step - loss: 0.3565 - accuracy: 0.9086
Epoch 30/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8922
Epoch 31/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.9181
Epoch 32/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3181 - accuracy: 0.9249
Epoch 33/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.9106
Epoch 34/100
7/7 [==============================] - 0s 3ms/step - loss: 0.3135 - accuracy: 0.9173
Epoch 35/100
7/7 [==============================] - 0s 3ms/step - loss: 0.2906 - accuracy: 0.9298
Epoch 36/100
7/7 [==============================] - 0s 3ms/step - loss: 0.3238 - accuracy: 0.9104
Epoch 37/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3245 - accuracy: 0.9042
Epoch 38/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2883 - accuracy: 0.9217
Epoch 39/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2823 - accuracy: 0.9180
Epoch 40/100
7/7 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8777
Epoch 41/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2754 - accuracy: 0.9240
Epoch 42/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2863 - accuracy: 0.8992
Epoch 43/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2714 - accuracy: 0.9186
Epoch 44/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2614 - accuracy: 0.9219
Epoch 45/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2890 - accuracy: 0.9095
Epoch 46/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2717 - accuracy: 0.9196
Epoch 47/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2676 - accuracy: 0.9112
Epoch 48/100
7/7 [==============================] - 0s 3ms/step - loss: 0.2311 - accuracy: 0.9302
Epoch 49/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2255 - accuracy: 0.9475
Epoch 50/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2498 - accuracy: 0.9305
Epoch 51/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2596 - accuracy: 0.9132
Epoch 52/100
7/7 [==============================] - 0s 3ms/step - loss: 0.2029 - accuracy: 0.9608
Epoch 53/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2319 - accuracy: 0.9332
Epoch 54/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2451 - accuracy: 0.9237
Epoch 55/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2352 - accuracy: 0.9383
Epoch 56/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2317 - accuracy: 0.9201
Epoch 57/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2316 - accuracy: 0.9295
Epoch 58/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2329 - accuracy: 0.9433
Epoch 59/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2079 - accuracy: 0.9458
Epoch 60/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2078 - accuracy: 0.9586
Epoch 61/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1819 - accuracy: 0.9650
Epoch 62/100
7/7 [==============================] - 0s 1ms/step - loss: 0.2073 - accuracy: 0.9364
Epoch 63/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2357 - accuracy: 0.9302
Epoch 64/100
7/7 [==============================] - 0s 3ms/step - loss: 0.2110 - accuracy: 0.9524
Epoch 65/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2077 - accuracy: 0.9475
Epoch 66/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2047 - accuracy: 0.9426
Epoch 67/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2183 - accuracy: 0.9358
Epoch 68/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1850 - accuracy: 0.9537
Epoch 69/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1837 - accuracy: 0.9590
Epoch 70/100
7/7 [==============================] - 0s 2ms/step - loss: 0.2119 - accuracy: 0.9417
Epoch 71/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1834 - accuracy: 0.9508
Epoch 72/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1682 - accuracy: 0.9632
Epoch 73/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1911 - accuracy: 0.9529
Epoch 74/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1767 - accuracy: 0.9468
Epoch 75/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1856 - accuracy: 0.9423
Epoch 76/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1824 - accuracy: 0.9528
Epoch 77/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1853 - accuracy: 0.9561
Epoch 78/100
7/7 [==============================] - 0s 4ms/step - loss: 0.1526 - accuracy: 0.9692
Epoch 79/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1706 - accuracy: 0.9539
Epoch 80/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1615 - accuracy: 0.9552
Epoch 81/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1692 - accuracy: 0.9604
Epoch 82/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1516 - accuracy: 0.9629
Epoch 83/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1769 - accuracy: 0.9451
Epoch 84/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1398 - accuracy: 0.9734
Epoch 85/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1542 - accuracy: 0.9637
Epoch 86/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1658 - accuracy: 0.9428
Epoch 87/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1520 - accuracy: 0.9556
Epoch 88/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1535 - accuracy: 0.9503
Epoch 89/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1411 - accuracy: 0.9629
Epoch 90/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1641 - accuracy: 0.9400
Epoch 91/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1378 - accuracy: 0.9559
Epoch 92/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1387 - accuracy: 0.9606
Epoch 93/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1554 - accuracy: 0.9538
Epoch 94/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1589 - accuracy: 0.9389
Epoch 95/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1404 - accuracy: 0.9530
Epoch 96/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1416 - accuracy: 0.9554
Epoch 97/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1419 - accuracy: 0.9582
Epoch 98/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1389 - accuracy: 0.9609
Epoch 99/100
7/7 [==============================] - 0s 3ms/step - loss: 0.1466 - accuracy: 0.9505
Epoch 100/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1202 - accuracy: 0.9596

# Evaluation

In [31]:
evaluation = model.evaluate(x_test, y_test) # using test values

5/5 [==============================] - 0s 2ms/step - loss: 0.3189 - accuracy: 0.9078

# Prediction

In [32]:
vals = model.predict(x_test[0:3]) # taking just first 3 values from test data
vals

array([[0.92277466],
       [0.99278366],
       [0.77602276]])

In [33]:
np.max(vals) # max value of prediction is there

0.992783660929514